body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main{
    margin: 5vh 15%;
}
h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
img{
    padding-left: 50px;
    margin-bottom: 50px;
}
p{
    text-align: justify;
    font-size: 18px;
    padding-left:20px;
}
label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 28px;
    border: 2px solid;
    border-radius: 20px;
}
label::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: #000;
    transition: 0.6s;
}
label.active::before{
    left: 24px;
    background: #fff;
}
body.night{
    background: #000;
    color: #fff;
}